{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--twocol-75-25',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>

    <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first', 'layout__region-main', 'region-large') }} {% if not region_attributes.first %} class="layout__region layout__region--first layout__region-main region-large" {% endif %}>
      <div class="inner-wrapper">
      {% if content.first %}
        {{ content.first }}
      {% endif %}
      </div>
    </div>

    <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second', 'layout__region-sidebar') }} {% if not region_attributes.second %} class="layout__region layout__region--second layout__region-sidebar" {% endif %}>
      {% if content.second %}
        {{ content.second }}
      {% endif %}
    </div>

  </div>
{% endif %}
